@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

html,
body {
  font-weight: 450;
  font-size: 16px;
  @apply subpixel-antialiased bg-white dark:bg-slate-900;
}

html,
body,
* {
  @apply dark:border-gray-800;
}

* {
  -webkit-tap-highlight-color: transparent;
}
